:root{
    --main-background: #8c9caa;
    --main-txt: #D8D5D2;
    --hover-txt: #1b2025;
}
/* .project-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center;
    padding: 20px 50px 40px 50px;
    border: 10px solid var(--main-txt);
    background-color: var(--main-background);
    width: 100%;
} */

.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    background-color: var(--main-txt);
    border: 3px solid white;
    
    margin: 10px 20px;
    position: relative;
    justify-content: space-around;
}
.items{
    
   
    position: absolute;
    color: var(--hover-txt);
    width: 100%;
    
}

.items a{
    text-decoration: none;
}
.projectLinks{
    align-self: center;
    font-size: 2em;
    color: var(--hover-txt);
    font-weight: 900;
}
.logo{
   width: 100%;
}
.projectImg{
    border-radius: .25rem;
    height: 22vw;
    width: 100%;
    z-index: 1;
}

.hover{
    border-radius: .25rem;
    height: 22vw;
    width: 100%;
    z-index: 0;
    opacity: 50%;
}

.cardHover{
    box-shadow: 10px 5px rgba(0,0,0,0.70);
}

@media screen and (max-width: 768px){
    main{
        padding: 0;
    }
}
@media screen and (max-width: 425px){
    .section-title{
        font-size: 30px;
        border-bottom: 3px solid;
    }
    
    .card h3{
        font-size: 14px;
    }
}