:root{
  --header-txt: #424F5C;
  --header-background: #7C8981;
  --main-background: #8C9CAA;
  --main-txt: #D8D5D2;
  --hover-txt: #1b2025;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: Helvrtica, Arial, sans-serif;
}



header{
  background-color: var(--header-background);
  color: var(--header-txt);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 30px;
  width: 100%;
}

.header-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size:1.5rem;
}

header nav{
  align-self: flex-end;

}

header nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0em;
}

header nav ul li{
  padding: 10px 20px;
}

header span {
  text-decoration: none;
  color: var(--header-txt);
  font-weight: bold;
  line-height: 1.4;
  font-size: 1.5rem;
  border-bottom: 3px solid var(--header-txt);
  cursor: pointer;
}

.active-tab, header a:hover{
  background-color: var(--header-txt);
  color: var(--header-background);
  border-radius: .75em;
  padding: 5px;
}

.about-me,
.contact,
.project-container,
.resume{
  padding: 20px 50px 40px 50px;
  border: 10px solid var(--main-txt);
  background-color: var(--main-background);
  min-height: calc(100vh - 181.1px);
}

.about-me{
  position: relative;
}

.section-title{
  text-align: center;
  line-height: 1.5;
  font-size: 40px;
  margin: 5px auto 50px auto;
  border-bottom: 5px solid var(--header-txt);
  width: 50%;
  justify-self: center;
  color: var(--main-txt);
}

#aboutimg{
  border-radius: 50%;
  width: 23em;
  float: left;
  margin: 2em 2em 1em 1em;
  shape-outside: circle(50%);
}

.aboutText{
  font-size: 1.7rem;
  color: var(--header-txt);
  font-weight: 475;
}

.card-body a{
  padding: 5px;
}


.card-title{
  font-family: fantasy;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: var(--header-background);
  color: var(--header-txt);
  margin-bottom: 30px;
  text-align: center;
}


.projectImg{
  border-radius: .25rem;
  height: 350px;
  width: 100%;
}

.hover{
  border-radius: .25rem;
  height: 350px;
  width: 100%;
}

.cardHover{
  box-shadow: 10px 5px rgba(0,0,0,0.70);
}

.contact{
  display: flex;
  flex-direction: column;
}

.contact-info{
  width: 50%;
  margin: 0 auto;
}

.contact-form label{
 padding: 3px;
 line-height: 1.8;
 border-bottom: 3px solid var(--header-txt);
 color:var(--main-txt);
 font-size: 1.5rem;
 font-weight: 500;
}

.contact-form input, .contact-form textarea{
  display:block;
  width: 100%;
  padding: 5px 10px;
  margin: 15px auto;
  border: 3px solid var(--header-txt);
  font-size: 13px;
  background-color: var(--main-txt);
  color: var(--header-txt);
  border-radius:10px;
  font-size: 20px;
}

.contact-form button{
  width: 100%;
  border-radius: 10px;
  background-color: var(--header-background);
  color: var(--header-txt);
  margin: 10px auto;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 8px
}

.error-message{
 line-height: 1.8;
 font-size: 1.5rem;
 font-weight: 500;
}

.download{
  padding: 3px;
  line-height: 1.8;
  color:var(--main-txt);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.download a{
  color: var(--header-txt);
}

.proficiencies{
  padding: 3px;
  line-height: 1.8;
  color:var(--main-txt);
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 4px solid var(--header-txt);
  text-align: center;
}

.proficiencies-list{
  list-style: none;
  color: var(--main-txt);
  font-size: 1.5rem;
  font-weight: 500;
}

footer{
  background-color: var(--header-background);
  font-size: 30px;
  color: var(--header-txt);
}

.footer-icons{
  text-align: center;
  padding: 10px
}

@media screen and (min-width :2560px){
  .about-container{
    max-width: 60%;
    margin: auto;
  }
}

@media screen and (max-width: 1067px) {
  header{
    padding: 10px;
  }
  header a{
    font-size: 1.3rem;
  }
  .projectLinks{
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 980px){
  .header-info{
    font-size: 1.2rem;
  }
  header a{
    font-size: 1rem;
  }
  #aboutimg{
    width: 20em;
    margin: 1.5em 1.5em .5em .5em;
  }
  .aboutText{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px){
  .section-title, .contact-info{
      width: 80%;
  }
  header{
      flex-direction: column;
  }
  #aboutimg{
    width: 18em;
    margin: 0.5em 1.5em .30em 0em;
  }
  .aboutText{
    font-size: 1.25em;
  }
  header nav{
      align-self: center;
  }
  .projectLinks{
    font-size: 1rem;
  }
  .description{
    font-size: .75rem;
  }
}

@media screen and (max-width:653px){
  header a {
    font-size: 1rem;
  }
}

@media screen and (max-width:639px){
  #aboutimg{
    width: 15em;
  }

  .links{
    font-size: .75rem;
  }
}

@media screen and (max-width: 472px){
  header img{
      height:75px;
  }
  #aboutimg{
    width: 10em;
  }
  .aboutText{
    font-size: 1em;
  }
  .general-info h1{
      font-size: 25px;
      align-self: center;
  }
  .projectImg{
    height: 50vw;
  }

  footer{
      font-size: 15px;
  }
}

@media screen and (max-width: 487px) {
  .projectLinks{
    font-size: .75rem;
  }
  header a{
    font-size: .75rem;
  }
}

@media screen and (max-width: 426px){
  .section-title{
      font-size: 25px;
      width:90%;
  }
  header a {
    font-size: .60rem;
  }
  
}

@media screen and (max-width: 380px){
  header nav ul li{
      padding: 6px 5px;
  }
  .aboutText{
    font-size: .75em;
  }
  #aboutimg{
    width: 7em;
  }
}